body{
background-color: aquamarine;
margin: 0;
padding: 0;
}

.header{
    font-size: 72px;
    text-align: center;
    font-weight: bold;
    font-style: italic;
        background-color:rgb(221, 225, 215);
        margin: 0;
        padding: 50px;
}

.content {
    margin:50px auto;
    width: 100%;
    text-align: center;
}

.content .drum{
    text-align: center;
    margin:40px;
    background-color:cyan;
}
.drum{
    height: 100px;
    width: 100px;
}